/* Grid
*/

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }

.grid-item img {
 display: block;
 width: 100%;
}

.button {
 display: inline-block;
 padding: 10px 18px;
 margin-bottom: 10px;
 background: #EEE;
 border: none;
 border-radius: 7px;
 background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
 color: #222;
 font-family: sans-serif;
 font-size: 16px;
 text-shadow: 0 1px white;
 cursor: pointer;
}

button.closepane {
    float:right;
}

img.assetmain {
    width:90%;
    
}